.RMJ{
    display: block;
    height:20%;
    width:100%;
    text-align: center;
    padding : 20px;
    font-size: 90px;
}
.card{
    color: darkblue;
    display: inline-block;
    height: 400px;
    width : 300px; 
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 0 4px 3px pink;
    margin: 10px;
}
.title{
    display: inline-block;
    height: 60px;
    width: 100px;
    text-align: center;
    border-bottom : 3px solid;
    border-color: pink;
    padding-top: 20px;
}
.platform{
    display: inline-block;
    height: 60px;
    width: 300px;
    text-align: center;
    border-bottom: 3px solid;
    border-color: pink;
    padding-top: 20px;
}
.score{
    display: inline-block;
    height: 60px;
    width: 300px;
    text-align: center;
    border-bottom: 3px solid;
    border-color: pink;
    padding-top: 20px
}
.genre{
    display: inline-block;
    height: 60px;
    width: 300px;
    text-align: center;
    border-bottom: 3px solid;
    border-color: pink;
    padding-top: 20px;
}
.edit_ch{
    display: inline-block;
    height: 60px;
    width: 300px;
    text-align: center;
    padding-top: 20px
}